<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Tencent.AlloyTeam.Dorsywang" />
  <meta name="copyright" content="Tencent.AlloyTeam" />
  <meta name="keywords" content="alloyPhoto 简约版,alloyImage,alloyPhoto,html5 canvas,alloyTeam" />
  <meta name="description" content="alloyPhoto简约版，一款基于alloyImage库的图像处理应用,alloyImage是基于html5的图像处理js代码库。" />

  <title>AlloyPhoto 简约版--Tencent AlloyTeam</title>
  <link media="all" rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <link media="all" rel="stylesheet" href="/static/css/bar.style.css" type="text/css" />
  <script type="text/javascript" src="/static/js/alloyimage.js"></script>
  <script type="text/javascript" src="/static/js/main2.js"></script>
</head>

<body>
  <div class="header">AlloyPhoto 简约版 1.0</div>
  <div class="wrapper">
    <div class="left">
      <h3>效果</h3>
      <ul id="effects" class="effects">
        <li class="e_item">
          <div class="imgWrapper">
          </div>
        </li>
      </ul>
    </div>
    <div class="right">
      <div id="picWrapper" class="picWrapper">
        <img src="/static/img/bulding.jpg" class="pic" id="pic" alt="" draggable="false" />

        <div id="infoMsg">
          处理中
        </div>
      </div>

    </div>
  </div>
  <div class="command">
    <ul class="demoImg">
      <li>示例图片
        <br />demos</li>
      <li class="d_item">
        <img src="/static/img/bulding.jpg" />
        <div class='lab'>建筑</div>
      </li>
      <li class="d_item">
        <img src="/static/img/big.jpg" />
        <div class='lab'>特写</div>
      </li>
      <li class="d_item">
        <img src="/static/img/small.jpg" />
        <div class='lab'>微距</div>
      </li>
      <li class="d_item">
        <img src="/static/img/girl.jpg" />
        <div class='lab'>人物</div>
      </li>
      <li class="d_item">
        <img src="/static/img/inner.jpg" />
        <div class='lab'>室内</div>
      </li>
      <li class="d_item">
        <img src="/static/img/pet.jpg" />
        <div class='lab'>宠物</div>
      </li>
      <li class="d_item">
        <img src="/static/img/scen.jpg" />
        <div class='lab'>风景</div>
      </li>
      <li class="d_item">
        <img src="/static/img/stop.jpg" />
        <div class='lab'>静物</div>
      </li>
    </ul>
    <ul class="command_items">
      <li>
        <a id="button" href="#" class="mask button">打开图片</a>
      </li>
      <li>
        <a class="button" href="#" class="mask" id="upload">上传到服务器</a>
      </li>
    </ul>
    <div class="footer">
      <div class="links">
        <a href="alloyphotopro.html">专业版</a> &nbsp;&nbsp;
        <a href="http://alloyteam.github.com/AlloyPhoto/" target="_blank">Docs</a> &nbsp;&nbsp;
        <a target="_blank" href="http://www.dorsywang.com">Blog</a>
      </div>
      <div class="copyright">Copyright &copy;
        <script>document.write(new Date().getFullYear());</script>
        <a href="http://www.AlloyTeam.com/" target="_blank">Tencent AlloyTeam</a>. All Rights Reserved.</div>
    </div>
  </div>
  <input type="file" name="open" id="open" class="open" />
  <script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019343-9']);
    _gaq.push(['_trackPageview']);
    $(function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

      //上传base64图片
      //上传文件事件
      $("#upload").click(function () {
        $("#upload").prop('disabled', true)//控制避免多次上传
        var base64Data = $("#pic").attr('src');
        base64_uploading(base64Data);
      })

    })
    function base64_uploading(base64Data) {
      var data = new FormData();
      data.append('pic', base64Data);
      $.ajax({
        type: 'POST',
        url: "../api/upload",
        cache: false,
        data: data,
        processData: false,
        contentType: false,
        timeout: 50000,
        success: function (data) {
          console.log(data);

        },
        complete: function () {
          $("#upload").prop('disabled', false)
        },
        error: function (xhr, type) {
          alert('上传超时啦，再试试');

        }
      });
    }
    //init
    (function () {
      var msgEle = document.getElementById("infoMsg"),
        picElement = document.getElementById('pic');
      try {
        window.AlloyImagePlug.init(picElement, msgEle);
        picElement.addEventListener("DOMAttrModified", function (event) {
          if (event.attrName == "src") {
            // The `src` attribute changed!
            window.AlloyImagePlug.init(picElement)
          }
        });
      } catch (e) {
        console.log(e)
      }
    })()
  </script>

</body>

</html>